force-app/main/default/flows/Check_if_course_is_started_and_completed_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Has_a_course_been_completed</name>
        <label>Has a course been completed?</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Course_is_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_completed_checkbox</targetReference>
            </connector>
            <label>Course is completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_a_course_been_started</name>
        <label>Has a course been started?</label>
        <locationX>336</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Course_is_started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Started__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_started_checkbox</targetReference>
            </connector>
            <label>Course is started</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Check if course is started and completed Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check if course is started and completed Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Check_the_completed_checkbox</name>
        <label>Check the completed checkbox</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <inputAssignments>
            <field>Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Check_the_started_checkbox</name>
        <label>Check the started checkbox</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>Has_a_course_been_completed</targetReference>
        </connector>
        <inputAssignments>
            <field>Started__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_a_course_been_started</targetReference>
        </connector>
        <object>Course__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-12-13</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
